<div id="delete-portfolio-modal" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>Delete</h4>
  </div>
  <div class="modal-body">
    <p>Your are about to delete the portfolio, are you sure?</p>
  </div>
  <div class="modal-footer">
    <a id="delete-portfolio-confirm-btn" href="#" class="btn btn-danger" data-method="delete" rel="nofollow">Delete</a>
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>