<%= form_for(@portfolio, :class => "form-horizontal") do |f| %>
  <fieldset>
    <legend>New portfolio</legend>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :autofocus => true, :placeholder => "Portfolio name..." %>
      </div>
    </div> 
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Create portfolio", :class => "btn btn-primary" %>
      </div>
    </div> 
  </fieldset>
<% end %>
